
.playZone {
    /* background-color: blue; */
    /* border: 4px solid green; */
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 5px 6px 7px; */
    margin-top: 50px;
    /* box-sizing: border-box; */
}

.player1field {
    width: 300px;
    min-height: 150px;
    /* background-color: gray; */
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 20px;
}
.gameLog {
    width: 300px;
    min-height: 150px;
    /* background-color: yellow; */
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.player2field {
    width: 300px;
    min-height: 150px;
    /* background-color: gray; */
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 20px;
}
.sheep1 {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 0 auto;
}
.sheep2 {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.sheep3 {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}
.sheep4 {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}
